*{
    margin: 0;
    padding: 0;
    color: black;

}
.bookh1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    
}
.bookContainer{
    height: 510px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    border: 1px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    /* margin-top: 12%; */
    border: 1px solid white;
    border-radius: 5px;

    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.form{
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-weight: 1000;
    /* padding: 50px; */

}
input{
    width: 50%;
    height: 40px;
    /* border: 1px solid; */
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}
.inputbtn{
    width: 100px;
}
.fileinput input{
    background-color: whitesmoke;
    height: 22px;
    width: 200px;
    margin-top: 15px;
}

.vehcollection img{
    width: 100%;
    height: 400px;
}