<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoRider:A Rental Service</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.png">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="favicon3.png">
    <link rel="stylesheet" href="./book.css">
	<link rel="stylesheet" href="./contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body >
      <nav>
        <div class="logo">
          <a href="#">
            <img src="../img/brandlogo4.png" alt="Logo Image">
          </a>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#pricing1">Services</a></li>
            <li><a href="#booking">Book Now</a></li>
            <li><a href="#team">About</a></li>
            <!-- <li><a href="./about.html">About</a></li> -->
            <li><a href="#contact">Contact Us</a></li>
            <!-- <li><a href="" class="user_profile"><img src="./img/pngwing.com.png" alt=""></a></li> -->
            <!-- <li><a href="" id="show-details-btn" class="user_profile"><img src="./img/pngwing.com.png" alt=""></a></li> -->
            <!-- <li id="show-details-btn" class="user_profile"><img src="./img/pngwing.com.png" alt=""></li> -->

            <!-- <li><button class="join-button" href="#">Join</button></li> -->
        </ul>
    </nav>


    
<section id="section-hero">
    <div class="hero">
      <div class="hero-left">

        <h1 class="heading-primary" style="text-align: center; font-weight: 1000; font-size: 30px;"><h1 id="heading">Let's Start Your Adventure</h1>
        <p class="hero-description" style=" margin-top:20px; font-size: 20px;" id="subheading">
          Welcome to GoRider, Discover your next adventure with GoRider Rentals. We offer a wide variety of vehicles, including cars, e-cycles, and motorcycles, to help you explore the open road. Book your rental today and start your adventure!
        </p>
        <a href="#pricing1">
          <button class="button-85" role="button" style="cursor:pointer;">Explore Now &#x2193;</button>
        </a>

        
      </div>
      <div class="hero-right">
        <img
          src="../img/phot_card-no-bg.png"
          alt="bike rental, A3 Rental Service photo card."
          class="hero-img"
        />
      </div>
    </div>
  </section>

<section class="pricing1" id="pricing1" style="height:600px; margin-top:50px;">
  <h1 style="text-align:center; font-weight:800; margin-top:90px;">Our Services</h1>
  <hr id="hrtagServices">
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Bike</h2>
      <p>We offer bicycles for rent, often for recreational purposes or for exploring a new area.</p>
      <img src="../img/bike2.png" alt="bike" style="margin-top:13px;">
    </div>

    <div class="box red">
      <h2>Cycle</h2>
      <p>We offer electric bicycles (e-cycles) for rent, allowing customers to enjoy a more environmentally-friendly mode of transportation.</p>
      <img src="../img/cycle1.png" alt="">

    </div>

    <div class="box box-down blue">
      <h2>Car</h2>
      <p>We offer a wide range of vehicles, from compact cars to luxury vehicles, for customers to rent for a specified period of time.</p>
      <img src="../img/car1.png" alt="">

    </div>
  </div>
  </section>

  <section class="testmonials" id="testmonials">

    <h1 class="h1" style="text-align: center; color: #000000; font-weight: 700;">How to Book Your First Ride</h1>
    <hr id="hrtagHowto">
<div class="wrapper">
<div class="card" style="background-color: rgb(255, 255, 255);">
	<h3 class="card-title">1. Select Your City</h3>
		<p class="card-content">Never again worry about money when thinking of going for a long drive. Open GoRider Website, select your city and get to choose your bike from a vast variety of vehicle GoRider has</p>
		
	</div>
	<div class="card" style="background-color: rgb(255, 255, 255);">
		<h3 class="card-title">2. Choose Vehicle Type</h3>
		<p class="card-content">With a fleet of reliable and well-maintained bikes, and convenient pickup and drop-off locations, GoRider makes it easy for riders to navigate the bustling streets of the urban landscape. Choose a bike which suits your mood from the vast variety of GoRider vehicle colletion.</p>
		
	</div>
	<div class="card" style="background-color: rgb(255, 255, 255);">
		<h3 class="card-title">3. Add Your Personal Details</h3>
		<p class="card-content">We need your personal details like name, email, phone number, city, start destination, end destination and for how many hours, day etc</p>
		
	</div>
  <div class="card" style="background-color: rgb(255, 255, 255);">
	<h3 class="card-title">4. Select your subscription plan</h3>
		<p class="card-content">GoRider subscription service is designed for people who want the convenience and flexibility of using a vehicle without the commitment of owning one. With GoRider, customers can easily rent a bike at one of their rental locations.</p>
		 
	</div>
</div>
  </section>



  <section class="vehicle-collection">
    <div class="collection-description">
      <h1 style="text-align: center; font-weight: 700; font-size: 30px;">Vehicle Renting Collection</h1>
      <p style="margin:20px 50px 50px 50px;  font-size: 20px;">Looking to rent a vehicle for your next adventure? Our collection features a wide range of cars, bikes, and bicycles to suit your needs. Choose from daily, weekly, or monthly rental options.</p>
    </div>
    <div class="collection-images">
      <a href="#booking">
      <div class="vehicle">
        <img src="../img/car2.jpg" alt="Car">
        <div class="cart-rate">Rs 800/h</div>
      </div>
    </a>
    <a href="#booking">

      <div class="vehicle">
        <img src="../img/car3.jpg" alt="SUV">
        <div class="cart-rate">Rs 750/h</div>
      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/car1.png" alt="Car">
        <div class="cart-rate">Rs 600/h</div>
      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/bike1.png" alt="SUV">
        <div class="cart-rate">Rs 300/h</div>
      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/bike2.png" alt="SUV">
        <div class="cart-rate">Rs 300/h</div>

      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/bike4.jpg" alt="Truck">
        <div class="cart-rate">Rs 280/h</div>

      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/cycle1.png" alt="Sports Car">
        <div class="cart-rate">Rs 100/h</div>

      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/cycle2.jpg" alt="Motorcycle">
        <div class="cart-rate">Rs 100/h</div>

      </div>
      </a>
      <a href="#booking">

      <div class="vehicle">
        <img src="../img/cycle3.jpg" alt="Scooter">
        <div class="cart-rate">Rs 100/h</div>

      </div>
      </a>
    </div>
  </section>


  
  
  <section class="booking" id="booking">
    <div class="bookh1">

        <h1 style="font-weight: 700;">Book your Ride</h1>
        <hr id="hrtagBooking">
    </div>
    <div class="bookContainer">
        <form action="https://formspree.io/f/mpzebrlr" method="POST" onclick="validateForm()" class="form">
            <label for="state">Start Date</label>
            <input type="date" name="sdate" placeholder="Start Date">
            <label for="stime">Start Time</label>
            <input type="time" name="stime" placeholder="Start Time">
            <label for="edate">End Date</label>
            <input type="date" name="edate" placeholder="End Date">
            <label for="etime">End Time</label>
            <input type="time" name="etime" placeholder="End Time">
            <label for="file">Upload Your Driving License</label>
            <div class="fileinput">

              <input type="file" name="file" id="fileinput">
            </div>
            <input type="submit" value="Book Now" class="inputbtn" id="inputbtn">
        </form>

    </div>
  </section>


  





  <h1 style="font-weight: 700;" class="teamh1">About Us</h1>
      <hr id="hrtagAbout">
  <section class="team" id="team">

    <div class="member">
        <img src="./img/aman.png" alt="Developer 1" class="teamimg">
        <h3>Aman Maurya</h3>
        <p>MERN Stack Developer</p><br>
        
        <a href="https://www.linkedin.com/in/aman-maurya-47b5131b5/" class="teama">Contact me</a>
    </div>
    <div class="member">
        <img src="./img/adi.jpg" alt="Developer 2" class="teamimg">
        <h3>Aditya Singh</h3>
        <p>Front-end Developer</p><br>
        <a href="https://www.linkedin.com/in/aditya-singh-76383221a/" class="teama">Contact me</a>
    </div>
    <div class="member">
        <img src="./img/ashu.jpg" alt="Developer 3" class="teamimg">
        <h3>Aashutosh Shukla</h3>
        <p>Front-end Developer</p><br>
        <a href="https://www.linkedin.com/in/ashutosh-shukla-66a0a120b/" class="teama">Contact me</a>
    </div>
    <div class="member">
        <img src="./img/abhinav.jpg" alt="Developer 4" class="teamimg">
        <h3>Abhinav Sheoran</h3>
        <p>Front-end Developer</p><br>
        <a href="https://www.linkedin.com/in/abhinav-sheoran-078b51223/" class="teama">Contact me</a>
    </div>
</section>




  <section class="contact" id="contact">




    <div class="container">
        <div class="content">
          <div class="left-side">
            <div class="address details" >
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic" style="color:#9da0b9;">Address</div>
              <div class="text-one"style="color:#9da0b9;">Greater Noida</div>
              <div class="text-two"style="color:#9da0b9;">Uttar Pradesh</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic" style="color:#9da0b9;">Phone</div>
              <div class="text-two">+91 9554022978</div>
              <div class="text-one">+91 8604607826</div>
              <div class="text-three">+91 9559096759</div>
            </div>
            <div class="email details">
              <i class="fa-regular fa-envelope"></i>
              <div class="topic"style="color:#9da0b9;">Email</div>
              <div class="text-one">go.rider@gmail.com</div>
              <div class="text-two">gorider.help@gmail.com</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <p>If you have any query just feel free to contact us our team will contact you within 24 hours.</p>
          <form action="https://formspree.io/f/mgebdlwd" method="post" >
            <div class="input-box">
              <input type="text" name="name" placeholder="Enter your name" autocomplete="off" required>
            </div>
            <div class="input-box">
              <input type="text" name="email" placeholder="Enter your email" autocomplete="off" required style="color:#9da0b9;">
            </div>
            <div class="input-box">
              <input type="tel" name="phone" placeholder="Enter your phone number" autocomplete="off" required>
            </div>
            <div class="input-box">
              <input type="text" name="message" placeholder="Type your message here" autocomplete="off" required>
            </div>
            <div class="input-box message-box">
              
            </div>
            <div id="button">
              <input type="submit" value="Send Now" >
            </div>
          </form>
        </div>
        </div>
      </div>
      </section>

  <sction class="footer">
    <p>Copyright &copy; 2023 GoRider</p> 
  </sction>
  <script src="script.js"></script>
  </body>
  <script>
	function validateForm() {
  const startDate = document.querySelector('#sdate').value;
  const startTime = document.querySelector('#stime').value;
  const endDate = document.querySelector('#edate').value;
  const endTime = document.querySelector('#etime').value;

  if (
    startDate === '' ||
    startTime === '' ||
    endDate === '' ||
    endTime === ''
  ) {
    alert('All fields are required');
    return false;
  }

  if (startDate > endDate) {
    alert('Start date should be before end date');
    return false;
  }

  if (startDate === endDate && startTime >= endTime) {
    alert('Start time should be before end time');
    return false;
  }

  return true;
}

const hamburger = document.querySelector('.hamburger');
const navLinks = document.querySelector('.nav-links');
const links = document.querySelectorAll('.nav-links li');

hamburger.addEventListener('click', () => {
  //Animate Links
  navLinks.classList.toggle('open');
  links.forEach((link) => {
    link.classList.toggle('fade');
  });

  //Hamburger Animation
  hamburger.classList.toggle('toggle');
});




// Define the text that will be used for the animation
var texts = [
  { heading: "Rent a Car Today", subheading: "Get the Best Deals on Rental Cars" },
  { heading: "Explore New Places", subheading: "Find the Perfect Car for Your Next Adventure" },
  { heading: "Travel in Style", subheading: "Book Your Rental Car Today and Save Your Valuable Time And Money" }
];

// Get the heading and subheading elements
var heading = document.getElementById("heading");

var subheading = document.getElementById("subheading");

// Set the index of the current text
var currentTextIndex = 0;

// Start the animation
setInterval(function() {
  // Get the current text
  var currentText = texts[currentTextIndex];

  // Split the heading and subheading text into arrays of words
  var headingWords = currentText.heading.split(" ");
  var subheadingWords = currentText.subheading.split(" ");
 
  heading.innerHTML = "";
  

  // Print each word in the heading and subheading with a delay of 100 milliseconds
  for (var i = 0; i < headingWords.length; i++) {
    setTimeout(function(word) {
      heading.innerHTML += word + " ";
    }, i * 100, headingWords[i]);
  }
  currentTextIndex++;
  if (currentTextIndex >= texts.length) {
    currentTextIndex = 0;
  }
}, 5000);

  </script>
</html>